@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">DEPARTMAN ADI: @ViewBag.dpt</li>
</ol>

<table class="table table-hover">
    <tr>
        <th>PERSONEL ID</th>
        <th>PERSONEL AD</th>
        <th>PERSONEL SOYAD</th>
        <th>GÖRSEL</th>
        <th>SATIŞLAR</th>
    </tr>
    @foreach (var x in Model)
    {
     <tr>
         <td>@x.PersonelID</td>
         <td>@x.PersonelAd</td>
         <td>@x.PersonelSoyad</td>

         <td>

             <a href="@x.PersonelGorsel" class="d-block photo-item" data-fancybox="gallery">

                 <img src="@x.PersonelGorsel" style="width:100px" />

                 <div class="photo-text-more">

                     <span class="icon icon-search"></span>

                 </div>

             </a>

         </td>
         <td><a href="/Departman/DepartmanPersonelSatis/@x.PersonelID" class="btn btn-default" style="background-color:antiquewhite">Satışlar</a></td>
     </tr>

     }
</table>