@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>SERİ SIRA NO</th>
        <th>TARİH</th>
        <th>SAAT</th>
        <th>TOPLAM</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
        <th>POPUP LİSTE</th>
        <th>YENİ KALEM</th>
        
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.FaturaSeriNo @k.FaturaSıraNo</td>
            <td>@k.Tarih</td>
            <td>@k.Saat</td>
            <td>@k.Toplam ₺</td>

            <td><a href="/Fatura/FaturaGetir/@k.FaturaID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-default" style="background-color:lightgrey">Detaylar</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-default" style="background-color:azure">PopUp</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-default" style="background-color:plum">Kalem</a></td>
        </tr>
    }
</table>
<a href="/Fatura/FaturaEkle" class="btn btn-info">Yeni Fatura Girişi</a>



