@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-striped">
    <tr>
        <th>Cari ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>Şehir</th>
        <th>MAIL</th>
        <th>SIL</th>
        <th>GUNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CariID</td>
            <td>@x.CariAd</td>
            <td>@x.CariSoyad</td>
            <td>@x.CariSehir</td>
            <td>@x.CariMail</td>
            <td><a href="/Cari/CariSil/@x.CariID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Cari/CariGetir/@x.CariID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Cari/MusteriSatis/@x.CariID" class="btn btn-default" style="background-color:antiquewhite">Satış Geçmişi</a></td>
            
        </tr>
    }
</table>

<a href="/Cari/YeniCari/" class="btn btn-info">Yeni Cari Ekle</a>